<h3>please Contact</h3>

<p>Name : @ViewBag.Name</p>
<p>Contact : @ViewBag.Contact</p>
<p>Response Loaded At <span id="loadedTime">@ViewBag.LLoadedTime</span></p>


@* <script>
	document.getElementById("loadedTime").innerText = new Date();
</script> *@